body
{
	background-color: #3366CC;
	font-family: ' Verdana ';sans-serif;
    font-size: 21px;
	color: #FFFFFF;
	 
   
}

h1
{
	font-size: 56px;
	margin: 20px;
	font-family: 'Monotype Corsiva';sans-serif;
	color: #33FFFF;
	text-align: center;
}


.zdjecie
{
	text-align: center;
}

.zdjecie img
{
	width: 100%;
	height: auto;
 
}


.zdjecie
{
	margin: 10px;
}

.zdjecie figcaption
{
	margin-top: 15px;
}

.navbar a
{
	color:#fff
}
.formularz
{
	text-align: left;
	text-align: justify;
	font-family: 'Arial';sans-serif;
	font-size: 90%;
	color:white;
	padding: 20px;
}








